/* html{
    scroll-behavior: smooth;
} */



*{
    margin: 0;
    padding: 0;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
    
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
    /* -ms-transform: translate(-50%,-50%); */
  }
#text a{
    
    color: rgb(197, 194, 194);
    text-decoration: none;
    padding-top: 8px;
    background-color: transparent;
    
}
#text a:hover,  a:focus {
    color:white;
    text-decoration: underline;
}


a{
    margin-top: 8px;
}
#overlay i {
    float: right;
    margin: 8px;
    margin-right: 20px;
    margin-top: 24px; 

}
.menubtn i {
    float: right;
    
}

.header{
    background-color: #1f2833;
    /* background-color: #1f2833; */
    width: 100%;
    height: 100vh;
}

.main-title{
    /* color: #45A29E;
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 40%; */
    position: absolute;
    margin: 0;
    padding: 10px;
    color: #66fcf1;
    text-align: center;
    /* top: 50%;
    left: 50%; */
    font-size: 50px;
    top: 40%;
    left: 35%;
    font-family: 'Sarina';
}
.thin{
    font-family: sans-serif;
    
}

/* about image */
.myimg{
    width: 150px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.aboutpara{
    width: 49%;
    margin-left: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #45A29E;
}

.aboutpara p {
    font-size: 20px;
    /* text-decoration: none; */
    color: #1f2833;
    margin-bottom: 1rem;
}
/* skills heading */
.skills h1{
    text-align: center;
    color: #45A29E;
}
.skillscard{
    width:62%;
    margin-left: 23%;
    margin-right: 10%;
    font-family: Noto sans HK;
    /* display: inline-block; */
    display: flex;
    text-align: center;
}
.skillcontainer{
    width: 32%;
    padding: 10px;
    display: inline-block;
}
@media only screen and (max-width: 700px) {
    .skillscard {
        display: block;
    }
    .skillcontainer {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }
}
.cardheading{
    color: #797979;
    /* font-weight: 900; */
    text-align: center;
    font-size: 22px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
.description {
    background-color: #1f2833;
    padding: 15px;
    border-radius: 20px;
    color: #66fcf1;
    font-size: 1.2rem;
}
.trailer {
    border: 1px solid #000;
    border-left: none;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60vw;
    height: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bottom{
    width: 100%;
    height: 100vh;
    background-color: #1f2833;
    margin: auto;
    overflow-x: hidden;
    overflow:hidden;

}
#touch{
    padding: 15px;

}
#contactimg{
    margin-top: 0;
}



#lpara{
    color: #66fcf1;
    font-size: 20px;
}
#contact {
    color: #66fcf1;
    width: 90vw;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/* #ig{
    position: absolute;
    left: 50%;
} */

.pics{
    width: 70vw;
    float: right;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 18vw;
    padding: 15px;
    cursor: pointer;
    color: #66fcf1;
}

.pics a {
    color: #66fcf1;
    text-decoration: none;
}
.footer {
    color: #66fcf1;
    font-size: 18px;
    /* font-weight: bold; */
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15%;
    left: 39%;
}
h5{
    font-size: 18px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif; 
    position: absolute;
    left: -2%;
    margin-bottom: 20px;
    
}
